/* Your Website Styles */
body {
	background: url("../img/hexabump.png");
	max-width: 100%;
}

h1 {
	font-family: 'Baskerville';
	text-align: center;
	font-size: 4em;
	color: #229999;
}

h2 {
	margin-right: 95px;
}

h3 {
	color: #229999;
	float: right;
	margin-right: 95px;
}

.grow-up {
	color: #229999;
	float: left;
	margin-top: 25px;
	margin-right: 25px;
}

.background {
	color: #226799;
	text-align: left;
	width: 400px;
	float: left;
	margin-top: 25px;
}

.class {
	color: #229999;
	float: right;
	margin-top: 25px;
	margin-left: 25px;
}

.major {
	color: #226799;
	text-align: right;
	width: 400px;
	float: right;
	margin-top: 90px;
	margin-right: -95px;
}

.chibi {
	width: 250px;
	height: 400px;
}

.subhead {
	font-style: none;
}

a {
	text-decoration: none;
	color: #226799;
	float: right;
	margin-right: 90px;
	margin-top: -200px;
	line-height: 25px;
}

/* Show Grid */
.showgrid {
	background: url("../img/bg-grid.png") repeat-y;
}